{{!-- <table class="text-white">
    <thead class="text-white">
      <tr class="text-white">
        <th>Nombre</th>
        <th>Correo</th>
        <th>Contraseña</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <% estudiantes.forEach(function(estudiante) { %>
        <tr>
          <td><%= estudiante.nombre %></td>
          <td><%= estudiante.email %></td>
          <td><%= estudiante.password %></td>
          <td><a href="/api/Docentes/CuentasEstudiantes/editar/<%= estudiante.id %>">Editar</a></td>
          <td><a href="/api/Docentes/CuentasEstudiantes/borrar/<%= estudiante.id %>">Borrar</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table> --}}

<div class="main-container">
        {{!-- <header class="main-header"> --}}
            <nav class="navigation">
                <ul>
                    <li><a href="/temas/CuentasEstudiantes" class="nav-link"></a></li>
                    <li><a href="/temas/cuentasestudiante" class="nav-link">Cuentas de Estudiantes</a></li>
                    <li><a href="/temas" class="nav-link">Temas</a></li>
                    <li><a href="/temas/Examenes" class="nav-link">Exámenes</a></li>
                    <li><a href="/temas/RendimientoEstudiantes" class="nav-link">Rendimiento</a></li>
                    <li><a href="/logout">Salir</a></li>
                </ul>
            </nav>
        {{!-- </header> --}}
    </div>
        {{!-- {{/each}} --}}
      <div id="main-content">
        <!-- El contenido de inicia en Blanco, luego al dar clic en Cuentas de Estudiantes, Temas, Exámenes, Rendimiento mostraría el contenido de /api/Docentes/CuentasEstudiantes,/api/Docentes/Temas, /api/Docentes/Examenes, /api/Docentes/RendimientoEstudiantes en la etiqueta div id="main-content"  -->

            <h1 class="pt-2">Estudiantes Registrados</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Registrar un Estudiante
            </button>
            <a href="/temas/addEstudents">ver</a>


             <div class="container pt-5">
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#Id</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Contraseña</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                      {{!-- recorrer estudiantes --}}
                      {{#each estudiantes}}
                    <tr>
                      <th scope="row">{{id}}</th>
                      <td>{{nombre}} </td>
                      <td>{{email}} </td>
                      <td>{{password}} </td>
                      <td>
                        <a href="/temas/editarEstudiante/{{id}}" class="btn btn-secondary">
                          <i class="fas fa-marker"></i>
                        </a>
                        <a href="/temas/eliminarEstudiante/{{id}}" class="btn btn-danger">
                          <i class="far fa-trash-alt"></i>
                      </td>
                    </tr>
                      {{!-- <a class="btn btn-danger" href="/temas/delete/{{id}}"></a> --}}
                   
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>

    </div>

{{!-- Modal Registrar Estudiante --}}

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           {{!-- <div class="container p-4">
            <div class="row">
              <div class="col-md-4 mx-auto"> --}}
                <form class="card card-body p-5" action="/cuentasestudiante" method="POST">
                  <h3 class="text-center fw-bold mb-4">Regístrar Estudiante</h3>

                  <label for="nombre">Escriba el nombre del estudiante:</label>
                  <input type="type" name="nombre" placeholder="usuario" class="form-control mb-3" autofocus />

                  <label for="username">Escriba el Correo:</label>
                  <input type="email" name="email" placeholder="youremail@mail.com" class="form-control mb-3" />

                  <label for="password">Escriba la Contraseña:</label>
                  <input type="password" name="password1" placeholder="Contraseña" class="form-control mb-3" />

                  {{!-- Confirm your password --}}
                  <label for="password">Confirmar la Contraseña:</label>
                  <input type="password" name="password2" placeholder="Contraseña" class="form-control mb-3" />

                  {{!-- role docente o estudiante --}}
                  <select class="form-select" name="role" aria-label="Default select example" placeholder="Rol">
                    {{!-- <option ></option> --}}
                    {{!-- <option value="docente">Docente</option> --}}
                    <option value="estudiante">Estudiante</option>
                  </select>


                  <button class="btn btn-success btn-block mt-4">
                    Registrar
                  </button>
              </div>
              </form>

              {{! Link }}
              {{!-- <p class="fs-5 text-center text-white mt-3">¿Ya tiene una cuenta?
                <a href="/signin" class="text-info">Login</a>
              </p> --}}
            {{!-- </div>
          </div>
                ...
      </div> --}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
 