<div class="main-container">
  {{!-- <header class="main-header"> --}}
    <nav class="navigation">
      <ul>
        <ul>
          <li><a href="/temas/CuentasEstudiantes" class="nav-link"></a></li>
          <li><a href="/academia/cuentasestudiantes" class="nav-link">Cuentas de Estudiantes</a></li>
          <li><a href="/temas" class="nav-link">Temas</a></li>
          <li><a href="/test/addTest" class="nav-link">Crear Test</a></li>
          <li><a href="/test/listTest" class="nav-link">Ver Tests</a></li>
          <li><a href="/temas/RendimientoEstudiantes" class="nav-link">Rendimiento</a></li>
          <li><a href="/logout">Salir</a></li>
        </ul>
      </ul>
    </nav>
    {{!--
  </header> --}}
</div>
{{!-- {{/each}} --}}
<div id="main-content">
  <!-- El contenido de inicia en Blanco, luego al dar clic en Cuentas de Estudiantes, Temas, Exámenes, Rendimiento mostraría el contenido de /api/Docentes/CuentasEstudiantes,/api/Docentes/Temas, /api/Docentes/Examenes, /api/Docentes/RendimientoEstudiantes en la etiqueta div id="main-content"  -->

  <h1 class="pt-2 fs-1">Temas Creados</h1>

  {{!-- mostrar un car al darle click en Temas --}}

  <div class="container">
    <div class="row">
      {{#each temas}}
      <div class="col-md-3 p-2">
        <div class="card border-light text-center bg-dark text-light h-100">
          <img src="../img/detalle3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="card-text">{{descripcion}}.</p>
            <p class="text-muted">
              {{timeago created_at}}
            </p>
            <a class="btn btn-secondary " href="/temas/edit/{{id}}">
              <i class="fas fa-marker"></i>
            </a>
            <a class="btn btn-danger text-center" href="/temas/delete/{{id}}">
              <i class="far fa-trash-alt"></i>
            </a>

          </div>
        </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center bg-dark text-light">
          <p>No tienes Temas Creados.</p>
          <a href="/temas/add" class="text-success">Crear Un Tema!</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

 
</div>